NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000
NEXT_PUBLIC_REOWN_PROJECT_ID=

NEXT_PUBLIC_CELO_CHAIN_MODE=testnet
NEXT_PUBLIC_CELO_CHAIN_ID=11142220
NEXT_PUBLIC_CELO_CHAIN_NAME=Celo Sepolia
NEXT_PUBLIC_CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
NEXT_PUBLIC_CELO_EXPLORER_URL=https://celo-sepolia.blockscout.com


NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_USDC_TOKEN_ADDRESS=
